services:
  ecommerce-db:
    image: postgres:15
    container_name: ecommerce-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ecommerce
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  ecommerce-api:
    build: .
    container_name: ecommerce-api
    ports:
      - "8000:8000"
    depends_on:
      ecommerce-db:
        condition: service_healthy
      redis:
        condition: service_started
